# Added by separate_assets.py
OffTheShelfModule/optical_module/core/weights/twins_svt_large-90f6aaa9.pth
OffTheShelfModule/point_module/weight/eloftr_outdoor.ckpt
OffTheShelfModule/outpainting/weights/ProPainter.pth
OffTheShelfModule/optical_module/core/weights/kitti.pth
OffTheShelfModule/optical_module/core/weights/sintel.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_T_things_kitti.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_T_sintel.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_T_things.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_T_kitti.pth
OffTheShelfModule/optical_module/Memflow/ckpts/twins_skflow.pth
OffTheShelfModule/point_module/weight/doghardnet_lightglue.pth
OffTheShelfModule/point_module/weight/aliked_lightglue.pth
OffTheShelfModule/point_module/weight/sift_lightglue.pth
OffTheShelfModule/point_module/weight/disk_lightglue.pth
OffTheShelfModule/point_module/weight/superpoint_lightglue.pth
OffTheShelfModule/optical_module/NeuFlow/neuflow_things.pth
OffTheShelfModule/optical_module/NeuFlow/neuflow_mixed.pth
OffTheShelfModule/optical_module/NeuFlow/neuflow_sintel.pth
OffTheShelfModule/point_module/weight/hardnet8v2.pt
OffTheShelfModule/point_module/weight/dad.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_sintel.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_spring.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_kitti.pth
OffTheShelfModule/optical_module/Memflow/ckpts/skflow-things.pth
OffTheShelfModule/outpainting/weights/raft-things.pth
OffTheShelfModule/optical_module/raft_weight/raft_large_C_T_SKHT_V2-ff5fadd5.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_P_things.pth
OffTheShelfModule/optical_module/Memflow/ckpts/MemFlowNet_P_sintel.pth
OffTheShelfModule/outpainting/weights/recurrent_flow_completion.pth
OffTheShelfModule/point_module/modules/xfeat.pt
OffTheShelfModule/point_module/weight/RFDet_weights.pth
OffTheShelfModule/point_module/weight/HardNet++.pth
OffTheShelfModule/point_module/weight/checkpoint_liberty_with_aug.pth
OffTheShelfModule/point_module/weight/superpoint_v1.pth
OffTheShelfModule/point_module/weight/epipolar-save.pth
OffTheShelfModule/point_module/weight/depth-save.pth
OffTheShelfModule/optical_module/raft_weight/raft_small_C_T_V2-01064c6d.pth
OffTheShelfModule/point_module/weight/aliked-n32.pth
OffTheShelfModule/point_module/weight/aliked-n16rot.pth
OffTheShelfModule/point_module/weight/aliked-n16.pth
OffTheShelfModule/point_module/weight/aliked-t16.pth
preweights/EfficientMotionPro.pth
weights/Motion/PropagationModel_best_att_all_0.0002properMulti_oldloss.pth
weights/Motion/PropagationModel_ch_att_all_0.0002properMulti_oldloss.pth
weights/Motionnotemp/PropagationModellarge_best_att_all_0.0002properMulti_oldloss.pth
weights/Motionnotemp/PropagationModellarge_ch_att_all_0.0002properMulti_oldloss.pth
preweights/LightOnlineSmoother.pth
weights/SmootherNokp/SmootherModel_best_all_2e-05LossTypeL1.pth
weights/Smoother_5/SmootherModel_best_all_2e-05LossTypeL1.pth
weights/Smoother/SmootherModel_best_all_2e-05LossTypeL1.pth
weights/Smoother_9/SmootherModel_best_all_2e-05LossTypeL1.pth
weights/SmootherNokp/SmootherModel_ch_all_2e-05LossTypeL1.pth
weights/Smoother_5/SmootherModel_ch_all_2e-05LossTypeL1.pth
weights/Smoother/SmootherModel_ch_all_2e-05LossTypeL1.pth
weights/Smoother_9/SmootherModel_ch_all_2e-05LossTypeL1.pth
